<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.mbg.mapper.SysServeMapper">

    <resultMap id="BaseResultMap" type="com.polaris.mbg.entity.SysServe">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,address,
        port,status
    </sql>

    <select id="getByProjectId" parameterType="java.lang.Long" resultType="com.polaris.mbg.entity.SysServe">
        SELECT *
        FROM sys_serve
        WHERE id = (
            SELECT con.serve_id
            FROM sys_server_project con
            WHERE con.project_id = #{projectId}
            )
    </select>
</mapper>
